<div *ngIf="isVisible" 
     id="floatingInputContainer" 
     [style.left.px]="position.x" 
     [style.top.px]="position.y"
     (click)="$event.stopPropagation()">
  
  <div class="bg-white p-2 rounded-2xl shadow-2xl border" *ngIf="config$ | async as c">
    <textarea
      [value]="c.userInput"
      (input)="onInput($event)"
      rows="2"
      class="w-full border-2 rounded-xl p-3 text-sm outline-none focus:border-gray-400 resize-none"
    ></textarea>
    <button
      (click)="hide()"
      class="w-full py-2 bg-gray-200 text-gray-500 hover:bg-[#ff9100] hover:text-white rounded-md text-xs font-semibold uppercase"
    >
      Update Text
    </button>
  </div>
</div>